{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="uk-width-1-1@s uk-width-1-2@m">
  {{ form.field_vorgangsdatum_value }}
</div>
<div class="uk-width-1-1@s uk-width-1-2@m">
  {{ form.field_kategorie_target_id }}
</div>
<div class="uk-width-1-1">
  {{ form.actions}}
</div>
{{ form|without('actions', 'field_kategorie_target_id', 'field_vorgangsdatum_value') }}
