{#
  /**
   * @file
   * Theme override to display a view of unformatted rows.
   *
   * Available variables:
   * - title: The title of this group of rows. May be empty.
   * - rows: A list of the view's row items.
   *   - attributes: The row's HTML attributes.
   *   - content: The row's content.
   * - view: The view object.
   * - default_row_class: A flag indicating whether default classes should be
   *   used on rows.
   *
   * @see template_preprocess_views_view_unformatted()
   */
  #}
  {% if title %}
    <div class="uk-width-1-1 uk-margin-small-top">
      <h2>{{ title }}</h2>
    </div>
  {% endif %}
  {% for row in rows %}
    <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid class="uk-grid-medium">{{- row.content -}}</div>
        <hr class="uk-margin-small">
    </div>
  {% endfor %}
  