{#
/**
 * @file
 * Theme override to display page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup uikit_themeable
 */
#}
{%
  set classes = [
    'uk-article-title',
    'uk-margin-medium-top',
    'uk-margin-medium-bottom',
  ]
%}
{% if title|render %}
  {{ title_prefix }}
  <h1{{ title_attributes.addClass(classes) }}>{{ title }}</h1>
  {{ title_suffix }}
{% endif %}
