{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see uikit_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup uikit_themeable
 */
#}
<div id="page-wrapper"{% if page.offcanvas %} class="uk-offcanvas-content"{% endif %}>
  <div class="bg-primary">
    <div id="metaheader" class="uk-container">
      <div uk-grid class="uk-child-width-1-2@l uk-child-width-1-1@s uk-height-1-1" uk-height-match>
        <div class="uk-inline" id="metaheader-left">
            <div class="uk-position-center-left uk-visible@l">{{ page.metaheader }}</div>
            <div class="text-small uk-position-center uk-hidden@l">{{ page.metaheader }}</div>
        </div>
        <div class="uk-visible@l" id="metaheader-right">
          {{ page.search }}
        </div>
      </div>
    </div>
  </div>

  <header id="main--header" uk-sticky>
    <div class="uk-container">
      <div uk-grid class="uk-grid-collapse uk-padding-small uk-padding-remove-horizontal">
        <div class="uk-width-auto" id="logo">
          {{ page.logo}}
        </div>
        <div class="uk-width-expand" id="mainnav">
          {{ page.mainnav }}
          <a href="#offcanvas" class="uk-hidden@l uk-position-center-right uk-margin-right" id="off-canvas-toggle" uk-toggle uk-icon="icon: menu; ratio: 2"></a>
        </div>
      </div>
    </div>
  </header>
  
  <div>
    {{ page.headerimage }}
  </div>
  {% set submenu = drupal_entity('block', 'mainnavigation_4', check_access=false)|render %}
    {% if submenu %}
    <div id="subnav" class="uk-visible@l">
      <div class="uk-container">
        <nav class="uk-navbar-container" uk-navbar>
          {{ page.subnav }}
        </nav>
      </div>
    </div>
  {% endif %}
  <div id="supporter" uk-sticky="offset: 70">
    <div class="uk-container">
      <a href="https://www.adfc.de/mitgliedschaft/mitglied-werden/" title="ADFC unterstützen!" class="button-supporter uk-flex uk-flex-middle" target="_blank">
        <i class="fa-solid fa-bicycle"></i>ADFC unterstützen!
      </a>
    </div>
  </div>

  <div id="page">
    <div class="uk-container">
      <div id="page--wrapper" uk-grid>
        <main{{ content_attributes.addClass('uk-margin-bottom') }}>
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </main>
        {% if page.sidebar_second %}
          <aside{{ sidebar_second_attributes }}>
            {{ page.exposed_large }}
              <div class="sidebar-block uk-margin-bottom">
                {{ node.field_seite_links|view }}
              </div>
              <div class="sidebar-block uk-margin-bottom">
                {{ node.field_seite_downloads|view }}
              </div>
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
    </div>
  </div>
  <footer>
    <section role="navigation" id="footer1">
      {{ page.footer1 }}
    </section>
    <section role="navigation" id="footer2">
      <div class="uk-container uk-padding">
        {{ page.footer2}}
      </div>
    </section>
    <section role="navigation" id="footer3">
      {{ page.footer3}}
    </section>
  </footer>
  <div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
    {{ page.offcanvas }}
  </div>
</div>
