<div id="img-caption-modal" class="uk-align-center uk-margin-remove-bottom">{{ content.field_bild_in_bild }}</div>
<div class="uk-padding-small">
    {% if content.field_caption %}
        <div class="img-caption--full">
            {{ content.field_caption }}
        </div>
    {% endif %}
    {% if content.field_copyright|render|striptags|trim %}
        <div class="img-copyright--full">
            &copy;: {{ content.field_copyright }}
        </div>
    {% endif %}
</div>