{% set parentNode = paragraph.parentEntity %}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }} uk-grid>
    <div class="uk-width-2-3@m uk-width-1-1@s">
      <h2>{{ parentNode.label }}</h2>
      {% set date = parentNode.createdtime|format_date('datum_deutsch') %}
        <div class="blog-date">{{ date }}</div>
      {{ content.field_text }}
    </div>
    <div class="uk-width-1-3@m uk-width-1-1@s">
      {{ content.field_bild_in_absatz[0] }}
    </div>
  </div>
{% endblock paragraph %}
