{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% block paragraph %}
  <div class="uk-slider-container-offset" uk-slider>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    {% block content %}
      <a href="#modal-container2" uk-toggle>
        {{ content }}
      </a>
    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}

<div id="modal-container2" class="uk-modal" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div uk-slider="sets: true" "center: true" tabindex="-1" class="uk-position-relative uk-visible-toggle uk-light">
          <ul class="uk-slider-items uk-child-width-1-1@s">
            {% if content.field_bild_in_absatz.0 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.0['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.1 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.1['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.2 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.2['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.3 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.3['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.4 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.4['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.5 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.5['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.6 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.6['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.7 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.7['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.8 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.8['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.9 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.9['#paragraph']|view('modal') }}</li>
            {% endif %}
          </ul>
        <a href="#" uk-slider-item="previous" uk-slidenav-previous class="uk-position-center-left uk-position-small"></a>
        <a href="#" uk-slider-item="next" uk-slidenav-next class="uk-position-center-right uk-position-small"></a>
      </div>
    </div>
  </div>
