
    <div>{{ content.field_bild_in_bild }}</div>
    {% if content.field_caption %}
        <div class="uk-width-1-1 img-caption--full">
            {{ content.field_caption }}
        </div>
    {% endif %}
    {% if content.field_copyright|render|striptags|trim %}
        <div class="uk-width-1-1 img-copyright--full">
            &copy;: {{ content.field_copyright }}
        </div>
    {% endif %}