{% set parentNode = paragraph.parentEntity %}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }} uk-grid>
    <div class="uk-width-2-3@m uk-width-1-1@s">
      {{ content.field_text }}
    </div>
        <div class="uk-width-1-3@m uk-width-1-1@s">
          {% if content.field_bild_in_absatz[0]['#paragraph'].field_vergroesserung.value == "1" %}
          <a href="#modal-container" uk-toggle>
          {% endif %}
            <div uk-slider="sets: true" tabindex="-1" class="uk-position-relative uk-visible-toggle uk-light">
                <ul class="uk-slider-items uk-child-width-1-1">
                  {{ content.field_bild_in_absatz }}
                </ul>
                <a href="#" uk-slider-item="previous" uk-slidenav-previous class="uk-position-top-left uk-position-small"></a>
                <a href="#" uk-slider-item="next" uk-slidenav-next class="uk-position-top-right uk-position-small"></a>
            </div>
            {% if content.field_bild_in_absatz[0]['#paragraph'].field_vergroesserung.value == "1" %}
          </a>
        {% endif %}
        </div>
  </div>

  <div id="modal-container" class="uk-modal" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div uk-slider="sets: true" "center: true" tabindex="-1" class="uk-position-relative uk-visible-toggle uk-light">
          <ul class="uk-slider-items uk-child-width-1-1@s">
            {% if content.field_bild_in_absatz.0 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.0['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.1 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.1['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.2 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.2['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.3 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.3['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.4 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.4['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.5 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.5['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.6 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.6['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.7 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.7['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.8 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.8['#paragraph']|view('modal') }}</li>
            {% endif %}
            {% if content.field_bild_in_absatz.9 %}
              <li class="uk-width-1-1">{{ content.field_bild_in_absatz.9['#paragraph']|view('modal') }}</li>
            {% endif %}
          </ul>
        <a href="#" uk-slider-item="previous" uk-slidenav-previous class="uk-position-center-left uk-position-small"></a>
        <a href="#" uk-slider-item="next" uk-slidenav-next class="uk-position-center-right uk-position-small"></a>
      </div>
    </div>
  </div>
{% endblock paragraph %}
