
      <div class="uk-width-1-1@s uk-width-1-2@m" id="facet-geschriebenam">
        {% if content %}
          {{ title_prefix }}
          {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
        
          {% block content %}
            {{ content }}
          {% endblock %}
        {% endif %}
      </div>
