/* Purely visual styling (“look-and-feel”) for a component. */

@font-face{
  font-family:Roboto;
  font-style:normal;
  font-weight:100;
  src:url('../webfonts/roboto-v20-latin-100.eot');
  src:local("Roboto Thin"),local("Roboto-Thin"),url('../webfonts/roboto-v20-latin-100.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v20-latin-100.woff2') format("woff2"),url('../webfonts/roboto-v20-latin-100.woff') format("woff"),url('../webfonts/roboto-v20-latin-100.ttf') format("truetype"),url('../webfonts/roboto-v20-latin-100.svg#Roboto') format("svg")
}
@font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:100;
  src:url('../webfonts/roboto-v20-latin-100italic.eot');
  src:local("Roboto Thin Italic"),local("Roboto-ThinItalic"),url('../webfonts/roboto-v20-latin-100italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v20-latin-100italic.woff2') format("woff2"),url('../webfonts/roboto-v20-latin-100italic.woff') format("woff"),url('../webfonts/roboto-v20-latin-100italic.ttf') format("truetype"),url('../webfonts/roboto-v20-latin-100italic.svg#Roboto') format("svg")
}
@font-face{
  font-family:Roboto;
  font-style:normal;
  font-weight:300;
  src:url('../webfonts/roboto-v18-latin-300.eot');
  src:local("Roboto Light"),local("Roboto-Light"),url('../webfonts/roboto-v18-latin-300.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-300.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-300.woff') format("woff"),url('../webfonts/roboto-v18-latin-300.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-300.svg#Roboto') format("svg")
}
@font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:300;
  src:url('../webfonts/roboto-v18-latin-300italic.eot');
  src:local("Roboto Light Italic"),local("Roboto-LightItalic"),url('../webfonts/roboto-v18-latin-300italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-300italic.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-300italic.woff') format("woff"),url('../webfonts/roboto-v18-latin-300italic.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-300italic.svg#Roboto') format("svg")
}
@font-face{
  font-family:Roboto;
  font-style:normal;
  font-weight:400;
  src:url('../webfonts/roboto-v18-latin-regular.eot');
  src:local("Roboto"),local("Roboto-Regular"),url('../webfonts/roboto-v18-latin-regular.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-regular.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-regular.woff') format("woff"),url('../webfonts/roboto-v18-latin-regular.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-regular.svg#Roboto') format("svg")
}
@font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:400;
  src:url('../webfonts/roboto-v18-latin-italic.eot');
  src:local("Roboto Italic"),local("Roboto-Italic"),url('../webfonts/roboto-v18-latin-italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-italic.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-italic.woff') format("woff"),url('../webfonts/roboto-v18-latin-italic.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-italic.svg#Roboto') format("svg")
}
@font-face{
  font-family:Roboto;
  font-style:normal;
  font-weight:500;
  src:url('../webfonts/roboto-v18-latin-500.eot');
  src:local("Roboto Medium"),local("Roboto-Medium"),url('../webfonts/roboto-v18-latin-500.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-500.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-500.woff') format("woff"),url('../webfonts/roboto-v18-latin-500.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-500.svg#Roboto') format("svg")
}
@font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:500;
  src:url('../webfonts/roboto-v18-latin-500italic.eot');
  src:local("Roboto Medium Italic"),local("Roboto-MediumItalic"),url('../webfonts/roboto-v18-latin-500italic.eot?#iefix') format("embedded-opentype"),url('../webfonts/roboto-v18-latin-500italic.woff2') format("woff2"),url('../webfonts/roboto-v18-latin-500italic.woff') format("woff"),url('../webfonts/roboto-v18-latin-500italic.ttf') format("truetype"),url('../webfonts/roboto-v18-latin-500italic.svg#Roboto') format("svg")
}

.fw300 {
  font-weight: 300;
}

html {
    font-family: "Roboto" !important;
}

h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {
  font-family: inherit;
  color: black;
}

h1, h1 a {
  font-weight: 100;
  font-size: 36px;
}

h2, h2 a {
  font-size: 22px;
  font-weight: 300;
  text-decoration: none;
}

h3, h3 a {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

p a {
  font-weight: 300;
}

a {
  color: #ee7f00;
}
a:hover {
  color: grey;
  text-decoration: none;
}

h3 a:hover {
  text-decoration: none;
}

p, li {
  font-weight: 300;
}

.bg-primary {
    background-color: #ee7f00;
}

#metaheader {
  height: 40px;
}

#metaheader-left {
    color: white;
    font-weight: 300;
    letter-spacing: .05rem;
    height: inherit;
}

.fa-icon {
  font-family: "Fontawesome";
}

#metaheader-right input {
  border: none;
  background: none;
  color: white;
}

#metaheader-right form {
  width: 25rem;
}

#metaheader-right .uk-search-input::placeholder {
  color: white;
}

#metaheader-right .uk-search-input:focus::placeholder {
  opacity: .5;
}

#logo img {
  max-height: 80px;
}

.uk-sticky-fixed img {
  max-height: 40px!important;
  /* transition: all .25s ease-out; */
}

.uk-navbar-nav {
  gap: 20px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: none;
}

#main--header {
  background-color: white;
}

#mainnav a {
  text-transform: none;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  color: black;
}

#subnav {
  background-color: #ee7f00;
  border-top: 1px solid #ee7f00;
}

:not(.uk-sticky-fixed) #mainnav .uk-navbar-nav a {
  min-height: 80px;
}

.uk-sticky-fixed #mainnav .uk-navbar-nav a {
  min-height: 40px;
  /* transition: all .25s ease-out; */
}

#subnav a {
  min-height: 40px;
  color: white;
  text-transform: none;
  font-size: 1rem;
}

.button-supporter {
  float: right;
}

.button-supporter i {
  padding-right: .3rem;
  color: #004b7c;
}

#supporter {
  border-top: 1px solid #ee7f00;
}

#supporter a {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: auto !important;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  font-family: roboto, arial, sans-serif !important;
  white-space: nowrap;
  background-color: #ee7f00!important;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: #fff;
  height: 40px;
  position: relative;
  margin-right: 40px;
}

.button-supporter:before {
  background-color: transparent;
  bottom: 0;
  content: url(../img/support_flag.svg);
  display: inline-block;
  height: 40px;
  width: 40px;
  position: absolute;
  top 0;
  left: -40px;
  transform: scaleX(-1);
}

.button-supporter:after {
  background-color: transparent;
  bottom: 0;
  content: url(../img/support_flag.svg);
  display: inline-block;
  height: 40px;
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
}

.supporter-bicycle {
  height: 1.2rem;
}

.supporter-divider {
  color: #ee7f00;
  height: 2px;
}

#supporter, #page {
  background-color: #f2f2f2;
}

#supporter {
  padding-bottom: .5rem;
}

#page--wrapper {
  margin-top: 25px;
}

#headerbild--desktop {
  height: 360px;
}

#headerbild--portrait {
  height: 300px;
}

.article-blog a:hover {
  text-decoration: none;
}

.article-blog a {
  color: black;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
}

#page--sidebar-second h2 {
  background-color: #004b7c;
  color: white;
  font-size: 22px;
  font-weight: 100;
  font-family: "Roboto";
  margin-bottom: 0;
}

.sidebar-block-body {
  background-color: white;
}

.sidebar-block-body p:last-child {
  margin-bottom: 0;
}

#supporter-block-list li::marker {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: .8rem;
  color: #ee7f00;
}

#supporter-block-list li {
  padding-left: .3rem;
}

.button-adfc {
  border: none;
  background-color: #ee7f00;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  text-transform: none;
}

.uk-position-top-left, .uk-position-top-right {
  top: 95px;
}

#subnav .is-active {
  color: bisque;
}

#werdeadfcmitglied-2 ul {
  padding-left: 15px;
}

.sidebar-block {
  background-color: #004b7c;
  color: white;
}

.sidebar-block h3, .sidebar-block a {
  color: white;
}

.sidebar-block a {
  font-weight: 300;
}

.sidebar-block a:hover {
  text-decoration: none;
  color: bisque;
}

#werdeadfcmitglied-2 {
  color: black;
}

.extlink :before {
  padding: 0 5px;
  font-size: .8rem;
  color: #ee7f00;
}

.sidebar-block .extlink :before {
  color: white;
}

#off-canvas-close {
  color: #ee7f00;
}

#region--offcanvas {
  background-color: white;
  border-left: 2px solid #ee7f00;
}

#region--offcanvas a {
  color: #ee7f00;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
}

.uk-parent>a:after {
  font-family: "FontAwesome";
  content: "\f078";
  font-size: .8rem;
  color: #ee7f00;
}

.uk-parent.uk-open>a:after {
  font-family: "FontAwesome";
  content: "\f077";
  font-size: .8rem;
  color: #ee7f00;
}

#adfcdduk-main-menu-offcanvas a {
  padding: 10px 0;
}

.uk-nav-default>li {
  border-bottom: 1px solid bisque;
}

.view-filter-accordion {
  background-color: #F8F8F8;
}

.view-filter-accordion fieldset {
  border: none;
}

.facets-input,
.facets-select,
.facets-textarea,
.facets-radio,
.facets-checkbox {
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  margin: 0;
  /* 3 */
  border-radius: 0;
  /* 4 */
  font: inherit;
}

.facets-radio:not(:disabled),
.facets-checkbox:not(:disabled) {
  cursor: pointer;
}

.facets-radio,
.facets-checkbox {
  /* 1 */
  display: inline-block;
  height: 16px;
  width: 16px;
  /* 2 */
  overflow: hidden;
  /* 3 */
  margin-top: -4px;
  vertical-align: middle;
  /* 4 */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* 5 */
  background-color: transparent;
  /* 6 */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #cccccc;
  transition: 0.2s ease-in-out;
  transition-property: background-color, border;
}
.facets-radio {
  border-radius: 50%;
}
/* Focus */
.facets-radio:focus,
.facets-checkbox:focus {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border-color: #1e87f0;
}
/*
 * Checked
 */
.facets-radio:checked,
.facets-checkbox:checked,
.facets-checkbox:indeterminate {
  background-color: #1e87f0;
  border-color: transparent;
}
/* Focus */
.facets-radio:checked:focus,
.facets-checkbox:checked:focus,
.facets-checkbox:indeterminate:focus {
  background-color: #0e6dcd;
}
/*
 * Icons
 */
.facets-radio:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.facets-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.facets-checkbox:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23fff%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
/*
 * Disabled
 */
.facets-radio:disabled,
.facets-checkbox:disabled {
  background-color: #f8f8f8;
  border-color: #e5e5e5;
}
.facets-radio:disabled:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23999%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.facets-checkbox:disabled:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.facets-checkbox:disabled:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23999%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

#facet-geschriebenam li {
  float: left;
  margin-right: .5rem;
}

.view-filter-accordion input {
  margin-right: .3rem;
}

#facet-geschriebenam .facets-reset {
  float: none;
}

.search-result.views-row a {
  color: black;
  font-weight: 300;
}

.view-filter-accordion {
  border: 1px solid #e5e5e5;
}

.views-accordion-filter-title {
  font-size: 16px;
}

#edit-suche {
  font-weight: 300;
}

#footer1 {
  background-color: #dedede;
}

#footer1 a {
  color: #737373;
}

#footer1 a:hover {
  color: white;
}

#footer2 {
  background-color: #8c8c8c;
}

#footer3 {
  background-color: #737373;
}

#footer3 a {
  color: #dedede;
}

#footer3 a:hover {
  color: white;
}

#bleibensieinkontakt a {
  color: white;
  font-size: 3rem;
  min-height: 1px;
}

#bleibensieinkontakt a:hover {
  color: #dedede;
}

.img-caption--full, .img-copyright--full {
  color: grey;
  font-size: .8rem;
}

.img-caption--full {
  padding: .3rem .3rem .15rem .3rem;
}

.img-copyright--full {
  padding: .3rem .3rem .3rem;
}

.uk-modal-dialog {
  width: 1200px;
}

#img-caption-modal {
  background-color: #f2f2f2;
}

.blog-date {
  font-size: 1rem;
  font-weight: 300;
}

.sidebar-block-list hr:last-child {
  display: none;
}

.bef-link {
  color: rgb(102, 102, 102)!important;
  font-size: 1rem!important;
  font-weight: 300;
}

.text-small {
  font-size: .8rem;
}

article a {
  font-size: inherit;
  font-weight: 400;
  color: inherit;
}

article .extlink>span:before {
  font-size: inherit;
  color: inherit;
}

.fa-arrow-up-right-from-square:before {
  font-size: .7rem!important;
}

#edit-suche--2 {
  border: 1px #ee7f00 dotted;
}