{#
/**
 * @file
 * Theme override to display an input form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 * @see uikit_preprocess_input()
 *
 * @ingroup uikit_themeable
 */
#}
{%
  set classes = [
    'uk-padding-remove',
    'uk-margin-remove',
    'uk-width-auto',
    'fa-icon',
  ]
%}
<input{{ attributes.addClass(classes) }} />{{ children }}
